<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>850016068435-suv07la5tqhgts32v6phrble8e8tu0tf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.850016068435-suv07la5tqhgts32v6phrble8e8tu0tf</string>
	<key>API_KEY</key>
	<string>AIzaSyBbR4sq-uGYgfOYJvhrXGphbiMETxww99E</string>
	<key>GCM_SENDER_ID</key>
	<string>850016068435</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.test</string>
	<key>PROJECT_ID</key>
	<string>technical-test-18df6</string>
	<key>STORAGE_BUCKET</key>
	<string>technical-test-18df6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:850016068435:ios:c5994d692b6e74c9b777a6</string>
</dict>
</plist>